body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    display: block;
    margin: 8px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

/* HEADER */
.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.page-color {
    color: #2E2F42;
}
.contacts {
    font-style: normal
}
.contacts-menu-link {
    font-style: normal
}

